body {
    position: relative;
    min-height: 100vh;
}

.jumbotron {
    margin-top: 6rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.mb-10 {
    margin-bottom: 10rem;
}
